@model BirthdayCardGenerator.Models.BirthdayCard

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<style>
    .btn a {
        color: white;
    }

    body {
        background-color: #f1f1f1;
    }
</style>

@{
    ViewBag.Title = "Birthday Card Generator";
}


<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Birthday Card Form</title>
</head>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <h1>Send a Birthday Card</h1>
    <p>
        <label style="padding:5px">From: </label>@Html.TextBoxFor(t => t.From)
    </p>
    <p>
        <label style="padding:5px">To: </label>@Html.TextBoxFor(t => t.To)
    </p>
    <p>
        <label style="padding:5px">Message: </label>@Html.TextBoxFor(t => t.Message)
    </p>
    <input class="btn btn-success" type="submit" value="Send Card" />
}

