@model LearningCenterWebApp.Models.AddClassResponse

@{
    ViewBag.Title = "Enroll in class";
}

<form action="/Home/EnrollInClass" method="post">
    <h2>@ViewBag.Title</h2>
    @if (Model.AvailableClasses.Count == 0)
    {
        <p>You are already enrolled in all our classes.</p>
    }
    else
    {
        @Html.DropDownListFor(m => m.ClassAdded, Model.AvailableClasses)
        <input type="submit" value="Add Class" />
    }
</form>