@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Learning Center</h1>
    <p class="lead">The place for technology classes.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Class List", "ClassList", "Home")</h2>
        <p>See all our classes offerings.</p>
</div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Your enrolled classes", "StudentClasses", "Home")</h2>
        <p>See the classes you're enrolled in.</p>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Enroll in a class", "EnrollInClass", "Home")</h2>
        <p>Take a new class.</p>
    </div>
</div>