<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="navbar  navbar-inverse">
        <div class="navbar-header">
            <h1 style="color:white">Birthday Card Generator</h1>
        </div>
    </div>
    @RenderBody()
</body>
</html>